.mission {
  width: 80%;

  margin-left: 15px;
  margin-right: 15px;
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 50px;
  border-radius: 25px;

  /* bg
  
  rgb(141, 252, 14);*/
  background: linear-gradient(
    26deg,
    rgba(255, 255, 255, 0.069),
    rgba(0, 0, 0, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.mission > p {
  padding-top: 15px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.students > p {
  padding-top: 15px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.choice {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 50px;
  border-radius: 25px;

  /* bg
  
  rgb(141, 252, 14);*/
  background: linear-gradient(
    26deg,
    rgba(255, 255, 255, 0.069),
    rgba(0, 0, 0, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.meet {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 50px;
  border-radius: 25px;

  /* bg
  
  rgb(141, 252, 14);*/
  background: linear-gradient(
    26deg,
    rgba(255, 255, 255, 0.069),
    rgba(0, 0, 0, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.students {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 50px;
  border-radius: 25px;

  /* bg
  
  rgb(141, 252, 14);*/
  background: linear-gradient(
    26deg,
    rgba(255, 255, 255, 0.069),
    rgba(0, 0, 0, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.carousel {
  margin-top: 10px;
  width: 80%;
}

.carousel-item {
  width: 80%;
  height: 500px;
  position: relative;
  margin-top: 50px;
}

.caro-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  top: 20px;
}
