.courses-cont-all {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses-cont {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 50px;
  height: 80%;
  border-radius: 25px;

  /* bg
  
  rgb(141, 252, 14);*/
  background: linear-gradient(
    26deg,
    rgba(255, 255, 255, 0.069),
    rgba(0, 0, 0, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.card-header {
  padding: 35px;
}

.card-title {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
}

.course-cards.card {
  margin: 15px;
  padding: 35px;
  width: 480px;
  height: 100%;
  margin: 15px;

  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(135deg, transparent 45%, rgb(28, 255, 43), #d6ff40)
      border-box !important;
  border: 2px solid transparent;
  transition: all 1000ms;

  color: white !important;
}

.course-cards.card:hover {
  cursor: pointer;
  box-shadow: rgba(28, 255, 43, 0.244) 0px 0px 0px 3px;
}

.card-body {
  padding: 15px;
}

ol > li {
  padding: 10px;
}

.course-col.col.md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px !important;
}

.enroll-now-cta {
  background-color: rgba(141, 252, 14, 0) !important;
  width: 250px;
  height: 35px;
  padding-top: 5px;
  border: 1px solid rgba(141, 252, 14) !important;
  border-radius: 50px !important;

  cursor: pointer;
  transition: all 600ms !important;
  position: relative;
  overflow: hidden;

  text-align: center;
  align-self: center;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.enroll-now-cta > a {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-decoration: none;
}

.enroll-now-cta:hover {
  background-color: rgb(141, 252, 14) !important;
  width: 250px;
  height: 35px;
  padding-top: 5px;
  border-radius: 50px !important;
  border: none;

  text-align: center;
  align-self: center;

  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.enroll-now-cta > a:hover {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-decoration: none;
}

.mt-auto {
  margin-top: auto;
}
