.in-touch.col-12 {
  margin-top: 150px;
}
.socials {
  width: 80%;
  background: linear-gradient(
    26deg,
    rgba(255, 255, 255, 0.069),
    rgba(0, 0, 0, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

  color: rgb(28, 255, 43);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
}

.bi {
  transition: all 50ms;
}

.bi:hover {
  color: white;
  cursor: pointer;
  font-size: larger;
}
