.key-feat {
  margin-bottom: 100px;
  background: linear-gradient(
    26deg,
    rgba(255, 255, 255, 0.069),
    rgba(0, 0, 0, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.key-features-header {
  padding: 50px;
  color: rgba(141, 252, 14);
  ext-align: center;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;

  text-align: center;
}
.cont.col-md-6 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}

.cont > .features {
  text-align: center;
  position: relative;
  width: 600px;
  height: 100px;

  overflow: hidden;
  text-overflow: ellipsis;

  padding: 50px;
  padding-bottom: 50px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 5px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.cont > .features:hover {
  transform: rotate(0deg);
  margin: 0 50px;
  width: 600px;
  height: 200px;
  cursor: pointer;
}

.cont .features::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
